@import "tailwindcss";

@theme {
  --font-sans: "Geist", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-silkscreen: "Silkscreen", cursive;
}

body {
  background-color: #010101;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}